In [73]:
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)
import pandas as pd
import numpy as np
import scipy.stats as stats
import statsmodels.api as sm
from statsmodels.formula.api import ols

In [74]:
import seaborn as sns
import matplotlib.pyplot as plt

In [75]:
from sklearn.linear_model import LinearRegression,Ridge,Lasso
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split,GridSearchCV
from sklearn.metrics import r2_score,mean_squared_log_error,make_scorer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelEncoder
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import BaggingRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.neighbors import KNeighborsRegressor

In [76]:
train = pd.read_csv('Data/Train.csv')
test = pd.read_csv('Data/Test.csv')

In [77]:
train.groupby('checked_out').mean('time_spent')

             session_number  purchased  added_in_cart   time_spent
checked_out
0               1083.281402   0.150919       0.151481   627.116932
1                486.315789   0.621053       0.757895  2688.843116

In [78]:
train.groupby('added_in_cart').mean('time_spent')

               session_number  purchased  checked_out   time_spent
added_in_cart
0                 1070.931853   0.151902     0.005056   505.073051
1                 1082.675000   0.196591     0.081818  1480.573294

In [79]:
train.groupby('purchased').mean('time_spent')

           session_number  added_in_cart  checked_out   time_spent
purchased
0             1206.380723       0.154874     0.007886   513.534064
1              367.239583       0.200231     0.068287  1453.933807

In [80]:
train['date'] = train['date'].astype('datetime64')
test['date'] = test['date'].astype('datetime64')

In [81]:
train.drop(['session_id','client_agent'],axis = 1,inplace = True)
test.drop(['session_id','client_agent'],axis = 1,inplace = True)

In [82]:
train.groupby('device_details')['session_number'].count()

device_details
Android Phone - Android        326
Android Phone - MobileWeb       54
Android Phone - Web             86
Android Tablet - Android         9
Android Tablet - MobileWeb       2
Android Tablet - Web           203
Desktop - Chrome               815
Desktop - Firefox              234
Desktop - IE                   292
Desktop - Safari               313
Other - Other                  185
Unknown - MobileWeb             87
iPad - Web                     289
iPad - iOS                      77
iPhone - MobileWeb             277
iPhone - Web                   665
iPhone - iOS                  1515
Name: session_number, dtype: int64

In [83]:
train[train['device_details']=='Desktop - Chrome']

,session_number,device_details,date,purchased,added_in_cart,checked_out,time_spent
0,715,Desktop - Chrome,2020-01-22,1,0,0,236.886
9,2574,Desktop - Chrome,2020-03-04,0,1,0,44.841
14,33,Desktop - Chrome,2020-02-26,1,0,0,1490.546
15,7656,Desktop - Chrome,2020-01-15,1,0,0,200.382
26,11,Desktop - Chrome,2019-11-27,0,0,0,20.454
...,...,...,...,...,...,...,...
5392,297,Desktop - Chrome,2019-09-15,0,0,0,25.146
5395,154,Desktop - Chrome,2020-03-02,1,0,0,1535.934
5416,77,Desktop - Chrome,2020-02-17,0,0,0,22.912
5417,154,Desktop - Chrome,2019-09-11,0,1,0,2278.051
5426,198,Desktop - Chrome,2019-08-13,0,0,0,22.711

In [84]:
train['time_spent'].describe()

count     5429.000000
mean       663.194292
std       1713.671664
min         14.400000
25%         22.699000
50%         98.312000
75%        600.463000
max      38494.025000
Name: time_spent, dtype: float64

In [85]:
train['time_spent'].describe([0.25,0.5,0.75,0.8,0.9,0.91,0.92,0.93,0.94,0.95,0.96,0.97,0.98,0.99,0.9995])

count      5429.000000
mean        663.194292
std        1713.671664
min          14.400000
25%          22.699000
50%          98.312000
75%         600.463000
80%         848.862200
90%        1739.269800
91%        1890.350880
92%        2045.535920
93%        2246.719360
94%        2483.395760
95%        2855.864600
96%        3342.519080
97%        4012.958560
98%        5193.649560
99%        7771.287560
99.95%    24043.599636
max       38494.025000
Name: time_spent, dtype: float64

In [86]:
train.shape

(5429, 7)

# Let us consider 90% of the train data based on the above describe since it seems that there are very large values over 99%

In [92]:
train = train[train['time_spent']<=1739.269800]

In [93]:
train.shape

(4886, 7)

In [94]:
#GEt hour of day as well